body {
   background-color: #ff4d4d;
   margin: 0;
 }
 .container {
   width: 80%;
   margin: 0 auto
 }

 header{
   background: #55d6aa;
 }


 header::after {
   content: '';
   display: table;
   clear: both;
 }

 h2 {
   float: left;
   padding: 10px 0;
   font-size: 35px;
   font-family: cursive;
   color:purple;
 }

 nav {
   float: right;
 }

 nav ul {
   margin: 0;
   padding: 0;
   list-style:none;
 }

 nav li {
   display: inline-block;
   margin-left: 70px;
   margin-right: 25px;
   padding-top: 35px;
   position: relative;
 }
 nav li a {
   color: #444;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   color: purple;
 }
 nav li a:hover {
   color: black;
   text-decoration: underline;
 }

 nav a::before {
   content: ' ';
   display: block;
   height: 5px;
   width: 100%;
   background-color: #444;
   position: absolute;
   top: 0;
   width: 0%;
   transition: all ease-in-out 200ms;

 }
 nav a:hover::before {
   width: 100%;
 }
